@model Blog.WebUI.Models.IndexViewModel
@using Blog.WebUI.Helpers
@using Blog.Domain.Entities

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />





<div id="rev_area" class=" pb-4 mt-4 pt-1">
    @foreach (var a in Model.Articles)
    {
        <div class="card offset-1 mt-3 mr-5">
            <div class="card-header text-center">
                <h5 class="card-title">@a.Name</h5>

            </div>
            <div class="card-body">
                <div class="text-muted text-right">
                    @foreach (Tag t in a.Tags)
                    {
                        @Html.ActionLink("#" + t.Name, "Index", "Home", new { tag = t.TagId }, new { @class = "text-muted font-weight-bold" })
                    }
                    <br />
                    @{
                        string route = "";
                        if (a.Immage != null)
                        {
                            route = a.Immage.ToString();
                        }

                    }


                </div>
                <div class="justify-content-center container-fluid text-center">
                    
                        <img src="~/Content/Images/Layer3.jpg" alt="Image not found" class="img-fluid " />
                   
                </div>
                
                <p class="card-text">@{<span>@a.Description.Substring(0, 200).ToString() ... </span>}</p>
                @using (Html.BeginForm("ArtDetails", "Article", FormMethod.Post))
                {
                    <input type="hidden" name="artId" value=@a.ArticleId>
                    <input type="submit" class="btn btn-primary" value="View all" />
                }

            </div>
            <div class="card-footer text-muted text-left">
                <span>@a.Date.ToString().Split(' ')[0]</span>
                <span class="float-right">
                    @foreach(var au in a.Authors)
                    {
                        <span>@au.Name</span>
                    }

                </span>
            </div>

        </div>

    }
</div>

<div class="btn btn-group float-right ">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x })) 

</div>





