@model IEnumerable<Blog.Domain.Entities.Article>

@{
    ViewBag.Title = "Index";
}






<div class="">
    @foreach (var a in Model)
    {
        <div class="card offset-1 mt-3">
            <div class="card-header text-center">
                <h5 class="card-title">@a.Name</h5>

            </div>
            <div class="card-body">

                <p class="card-text">@a.Slug</p>
                @using (Html.BeginForm("ArtDetails", "Article", FormMethod.Post))
                {
                    <input type="hidden" name="artId" value=@a.ArticleId>
                    <input type="submit" class="btn btn-primary" value="View all" />
                }

            </div>
            <div class="card-footer text-muted text-left">
                <span>@a.Date</span>
                <span class="float-right">Author</span>
            </div>

        </div>

    }
</div>
<p class="btn btn-secondary mt-2 offset-1">
    @Html.ActionLink("Add Artcicle", "AddArticle", "Article")
</p>

@section Vote {
    @Html.Partial("~/Views/Vote/VotingRes.cshtml")
}


