@model Blog.WebUI.Models.IndexViewModel
@using Blog.WebUI.Helpers

@{
    ViewBag.Title = "Index";
}






<div id="rev_area" class=" pb-4 mt-4 pt-1">
    @foreach (var a in Model.Articles)
    {
        <div class="card offset-1 mt-3 mr-5">
            <div class="card-header text-center">
                <h5 class="card-title">@a.Name</h5>

            </div>
            <div class="card-body">
                <div class="text-muted text-right">
                    @{
                        var cat = a.Categories.Split(' ');
                        foreach (var c in cat)
                        {
                            @Html.ActionLink(c, "Index", "Home", new { category = c }, new { @class = "text-muted text-right " })


                            <span> </span>
                        }
                    }

                </div>
                <p class="card-text">@a.Slug</p>
                @using (Html.BeginForm("ArtDetails", "Article", FormMethod.Post))
                {
                    <input type="hidden" name="artId" value=@a.ArticleId>
                    <input type="submit" class="btn btn-primary" value="View all" />
                }

            </div>
            <div class="card-footer text-muted text-left">
                <span>@a.Date.ToString().Split(' ')[0]</span>
                <span class="float-right">Author</span>
            </div>

        </div>

    }
</div>
<p class="btn btn-secondary mt-2 offset-1">
    @Html.ActionLink("Add Artcicle", "AddArticle", "Article")
</p>
<div class="btn-group float-right mt-5">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>




