@model PagedList.IPagedList<Blog.Domain.Entities.Article>
@using PagedList.Mvc
@using Blog.Domain.Entities

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />





<div id="rev_area" class=" pb-4 mt-4 pt-1">
    @foreach (var a in Model)
    {
        <div class="card offset-1 mt-3 mr-5">
            <div class="card-header text-center">
                <h5 class="card-title">@a.Name</h5>

            </div>
            <div class="card-body">
                <div class="text-muted text-right">
                    @foreach (Tag t in a.Tags)
                    {
                        @Html.ActionLink("#" + t.Name, "Index", "Home", new { tag = t.TagId }, null)
                    }


                </div>
                <p class="card-text">@{<span>@a.Description.Substring(0, 200).ToString() ... </span>}</p>
                @using (Html.BeginForm("ArtDetails", "Article", FormMethod.Post))
                {
                    <input type="hidden" name="artId" value=@a.ArticleId>
                    <input type="submit" class="btn btn-primary" value="View all" />
                }

            </div>
            <div class="card-footer text-muted text-left">
                <span>@a.Date.ToString().Split(' ')[0]</span>
                <span class="float-right">Author</span>
            </div>

        </div>

    }
</div>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))





